.view-ajax-overlay .view-content {
  position: relative;
}

.view-ajax-overlay .view-empty {
  position: relative;
}

.view-ajax-overlay .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255,255,255,0.7);
}

.view-ajax-overlay .loader {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.view-ajax-overlay .loader__animation {
  background: url('/misc/throbber-active.gif') center no-repeat;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.view-ajax-overlay .loader__message {
  color: black;
}

.view-ajax-overlay .ajax-progress {
  display: none;
}

.view-ajax-overlay .ajax-progress-throbber {
  display: none;
}
